body {
    font-family: sans-serif;
}

header img{
    width: 80px;
    box-shadow:2px 2px 5px 0px black;
}

main img {
    margin: 5px;
    margin-left: 10px;
}

a {
    text-decoration:none;
}

.border {
    background-color: rgba(0, 0, 0, 0.548);
     color:rgb(46, 158, 223);
     border-radius: 2%;
     width: 235px;
}

header a{
    color:red;
    background-color: rgba(68, 67, 67, 0.39);
    box-shadow:2px 2px 5px 0px rgba(68, 67, 67, 0.39);
}

header a:hover {
    color:blue;
    transition: 1s;
}

section {
    color:rgb(46, 158, 223);
    background-color: rgba(0, 0, 0, 0.548);
    border-radius: 2%;
}

.first {
    display: flex;
    flex-wrap: wrap;
}

.first article {
    width:200px;
}

section p {
    margin-left: 2px;
}
main a{
    color:rgb(8, 196, 8);
}

body {
    background-image: linear-gradient(to right, blue, lightgreen ,purple,white , red,gold);
}

footer{
    background-color: rgb(255, 220, 122);
}

main img {
    border: 3px double red;
}

nav{
    border: 3px solid black;
    border-radius: 2%;
    width: 270px;
}

 main img:hover {
    width:120px;
    transition: 1s;
    border: 4px double blue
}
.icon img:hover {
    width: 50px;
    border: 4px double red;
}
